body {
    font: 12px sans-serif;
    margin: 20px;
}

.modal-container {
    border: 2px solid #000000;
    border-radius: 8px;
}

.selected-text {
    height: 100px;
    overflow-y: auto;
}

.mark {
    font-size: 48px;
}
